.body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}


#nav-list {
    margin-left: 30%;
}

.nav-link {
    margin: 0px 20px 0px 20px;
}

.forgot-password-form {
    width: 90%;
    margin: 40px auto auto auto;

}

.forgot-password-header {
    margin: 50px 20px auto 20px;
}